.chapterName {
    margin-left: 1.5vh;
}

.libraryHeader {
    font-weight: bold;
    margin-right: 4px;
}

.librarySubheader {
    color: #6D6D6D;
    margin-top: 3px;
}

.cardContainer {
    margin-top: 15px;
    margin-bottom: 100px;
}

.cardWrapper {
    margin-top: 10px;
}

.noData {
    text-align: center;
}

.noDataText {
    font-weight: bold;
}
.mainContainer{
    margin-bottom: 30%;
    font-family: Jost;
}
